<!DOCTYPE html>
<html lang="eng" xml:lang="eng">
    <link rel="stylesheet" href="../resources/css/stylesheet.css">
    <head>
        <title>Head Title</title>
        <script language="javascript" type="text/javascript" src="../resources/js/javascript.js" defer></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">

            <div id="navbar" class="navbar">
                <a href="../index.html">Home</a>
                <a href="overview-results.html">Overview / Results</a>
                <div class="dropdown">
                    <button class="dropbtn">Assessments
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Controllers Checklist</a>
                        <a href="processors-checklist.html">Processors Checklist</a>
                        <a href="information-security.html">Information Security</a>
                        <a href="data-sharing.html">Data Sharing and Subject Access</a>
                        <a href="record-management.html">Record Management</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <h1>Controllers Checklist</h1>
                    <h2>Controllers Checklist Subtitle</h2>
                </div>
                <div class="column">
                    <img src="../resources/images/Logo.png" alt="Logo" class="logo">
                </div>
            </div>
            <h3>Index Page Intro Text. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</h3>
        </div>
        <div class="content">
            <!----------------------------->
            <!-- QUESTION 1 -->
            <!----------------------------->
            <div class="row">
                <h1>1.</h1>
                <p class="text-padding">Make sure your employees know how their <b>personal data</b> is used and what their
                    rights are under GDPR.</p>
            </div>
            <div class="column">
                <div class="input-row">
                    <label for="evaluation1">Choose:</label>
                    <select id="evaluation1" class="form-control" onchange="showRecommendation('1')">
                        <option value="3">Successfully implemented</option>
                        <option value="2">Partly implemented</option>
                        <option value="1">Planned to implement</option>
                        <option value="0">Not yet implemented or planned</option>
                        <option value="na">Not applicable</option>
                    </select>
                </div>
                <div id="recommendation1" class="recommendation">
                    Make sure your employees are aware how their personal data is applied and what their rights are based on GDPR.
                </div>
            </div>
            <button class="accordion">More Information</button>
            <div class="panel">
                <h3>Specification &mdash; What is 'Personal Data'?</h3>
                <p class="text-padding">
                    Personal data is information that relates to an identified or identifiable individual.
                    Personal data only includes information relating to natural persons who:
                <ul class="specification-list-level-one">
                <li>
                    can be identified or who are identifiable, directly from the information in question; or
                </li>
                <li>
                    who can be indirectly identified from that information in combination with other information.
                </li>
                <li>
                    list of identifiers, including:
                    <ul class="specification-list-level-two">
                        <li>
                            name;
                        </li>
                        <li>
                            identification number;
                        </li>
                        <li>
                            location data; and
                        </li>
                        <li>
                            an online identifier.
                        </li>
                    </ul>
                </li>
                </ul>
                </p>
                <h3>Content</h3>
                <iframe class="embedded-video" src="https://www.youtube.com/embed/qJX3fbq3fOg"></iframe>
            </div>
            <hr class="horizontal-separator">
            <!----------------------------->
            <!-- QUESTION 2 -->
            <!----------------------------->
            <div class="row">
                <h1>2.</h1>
                <p class="text-padding">Do you have a process or SOPs to map or visualize data flows in your organisation?</p>
            </div>
            <div class="column">
                <div class="input-row">
                    <label for="evaluation2">Choose:</label>
                    <select id="evaluation2" class="form-control" onchange="showRecommendation('2')">
                        <option value="3">Successfully implemented</option>
                        <option value="2">Partly implemented</option>
                        <option value="1">Planned to implement</option>
                        <option value="0">Not yet implemented or planned</option>
                        <option value="na">Not applicable</option>
                    </select>
                </div>
                <div id="recommendation2" class="recommendation">
                    Recommendation is missing.
                </div>
            </div>
            <button class="accordion">More Information</button>
            <div class="panel">
                <h3>Specification &mdash; Specific Subtitle?</h3>
                <p class="text-padding">
                    You should perform an audit across your entire organisation or within particular business areas.
                    It is recommended to choose a person with an in-depth knowledge of your business to do this task.
                    This allows you to identify the data you process and how it flows into, through and out of your
                    organisation. Such a data flow can include a transfer of information from one departement to another.
                    However, this can also include the transfer between e.g. different locations, external partner
                    organisations or suppliers.<br><br>
                    To do that it is necessary to identify different key elements. This can include the data types and
                    its format, its transfer method, its location and the clarification of the data accountability and
                    data access. Such data mapping and data flows are important to be compliant with GDPR
                    <a href="https://gdpr-info.eu/art-30-gdpr/" target="_blank">Article 30</a> and
                    <a href="https://gdpr-info.eu/art-36-gdpr/" target="_blank">Article 36</a>.<br><br>
                    You can find more information about data mapping in GDPR
                    <a href="https://www.itgovernance.eu/en-ie/gdpr-data-mapping-ie" target="_blank">here</a>
                    and <a href="https://www.clarip.com/data-privacy/gdpr-data-flow-mapping/" target="_blank">here</a>,
                    if you are looking for a template you can find some
                    <a href="https://cloudnine.com/ediscoverydaily/electronic-discovery/unsure-about-how-to-map-your-data-
                    for-gdpr-here-are-several-templates-to-get-started-data-privacy-best-practices/" target="_blank">here</a>.
                </p>
                <h3>Content --> additional Video?</h3>
                <iframe class="embedded-video" src="https://www.youtube.com/embed/qJX3fbq3fOg"></iframe>
            </div>
            <hr class="horizontal-separator">
            <!----------------------------->
            <!-- QUESTION 3 -->
            <!----------------------------->
            <div class="row">
                <h1>3.</h1>
                <p class="text-padding">Do you have documented what personal data you hold of your customers, employees, etc., where it came from,
                    who you share it with and what you do with it?</p>
            </div>
            <div class="column">
                <div class="input-row">
                    <label for="evaluation3">Choose:</label>
                    <select id="evaluation3" class="form-control" onchange="showRecommendation('3')">
                        <option value="3">Successfully implemented</option>
                        <option value="2">Partly implemented</option>
                        <option value="1">Planned to implement</option>
                        <option value="0">Not yet implemented or planned</option>
                        <option value="na">Not applicable</option>
                    </select>
                </div>
                <div id="recommendation3" class="recommendation">
                    Recommendation is missing.
                </div>
            </div>
            <button class="accordion">More Information</button>
            <div class="panel">
                <h3>Specification &mdash; Specific Subtitle?</h3>
                <p class="text-padding">
                    The term "personal data" is in the center of GDPR, because it only applies if data processing concers
                    personal data. Personal data contains any information which are related to an identified or identifiable
                    natural person. According to GDPR a natural person or also called data subject is identifiable if they
                    can be directly or indirectly identified through the data. This can e.g. be a name, an identification
                    number, location data, number plate or any characteristics, which expresses the physical,
                    physiological, genetic, mental, commercial, cultural or social identity of these persons.<br><br>
                    You can find more information about personal data and its processing guidelines
                    <a href="https://gdpr-info.eu/issues/personal-data/#:~:text=Personal%20data%20are%20any%20information,
                    identified%20or%20identifiable%20natural%20person.&text=For%20example%2C%20the%20telephone%2C%20credit,
                    address%20are%20all%20personal%20data." target="_blank">here</a>
                    and in <a href="https://gdpr-info.eu/art-4-gdpr/" target="_blank">Article 4</a> and
                    <a href="https://gdpr-info.eu/art-9-gdpr/" target="_blank">Article 9</a> of GDPR.<br><br>
                    To fullfil this task it is recommended to document the findings of the question before in an information
                    asset register. In this register you must record data like the name and details of your organisation,
                    the categories of the processing carried out on behalf of each controller, a description of technical
                    and organisational security measures, etc. This provides an institutionwide view of all information assets
                    and will provide insights to improve the management and security of the information. This allows a
                    reasonable and proportionate approach to mitigate risks and minimize the effect of both cyber and business
                    disruptions. You can find more information about the information asset register
                    <a href="https://matomo.org/blog/2018/04/gdpr-how-to-fill-in-the-information-asset-register-when-
                    using-matomo/" target="_blank">here</a> and <a href="https://www.corporatecomplianceinsights.com/
                    organizations-need-information-asset-register/" target="_blank">here</a>. Further,
                    <a href="https://network.healthwatch.co.uk/guidance/2019-02-05/information-asset-register-guidance-
                    and-template" target="_blank">here</a> you can also find additional guidelines and a template of such a register.
                </p>
                <h3>Content --> additional Video?</h3>
                <iframe class="embedded-video" src="https://www.youtube.com/embed/qJX3fbq3fOg"></iframe>
            </div>
            <hr class="horizontal-separator">
            <div id="score-box" class="score-box">
                <div class="row">
                    <img src="../resources/images/goldmedal.png" alt="Result" id="gold-medal" class="gold-medal">
                    <img src="../resources/images/silvermedal.png" alt="Result" id="silver-medal" class="silver-medal">
                    <img src="../resources/images/bronzemedal.png" alt="Result" id="bronze-medal" class="bronze-medal">
                    <img src="../resources/images/warning.png" alt="Result" id="warning" class="warning">
                    <p id="gold-text" class="gold-text">This is an example text for a resulting value greater than 90.
                        The example test is rewarded with a gold medal. Maybe some more blabla for the user.</p>
                    <p id="silver-text" class="silver-text">This is an example text for a resulting value between 70 and
                        90. The example test is rewarded with a silver medal. Maybe some more blabla for the user.</p>
                    <p id="bronze-text" class="bronze-text">This is an example text for a resulting value between 50 and
                        70. The example test is rewarded with a bronze medal. Maybe some more blabla for the user.</p>
                    <p id="warning-text" class="warning-text">This is an example text for a resulting value of less than
                        50. The user is made aware of this with a warning. Maybe some more blabla for the user.</p>
                </div>
            </div>
            <div class="input-row">
                <button class="interaction-button" id="submit-button" onclick="countPoints()">Submit</button>
                <!--<input type="text" id="evaluation-sum" class="form-control" placeholder="0">
                <label for="max-score">Max Score: </label>
                <input type="text" id="max-score" class="form-control" placeholder="0">-->
            </div>
            <button onclick="topFunction()" id="myTopBtn" title="Go to top">Top</button>
<!--            <a class="interaction-button" href="templates/pageOne.html">Next</a>-->
        </div>
    </body>
</html>

<!----------------------------------------------------------------------->
<!--Template for a new Question-->
<!----------------------------------------------------------------------->

<!--<div class="row">
    <h1>X.</h1>
    <p class="text-padding">Question text.</p>
</div>
<div class="column">
    <div class="input-row">
        <label for="evaluationX">Choose:</label>
        <select id="evaluationX" class="form-control" onchange="showRecommendation('X')">
            <option value="3">Successfully implemented</option>
            <option value="2">Partly implemented</option>
            <option value="1">Planned to implement</option>
            <option value="0">Not yet implemented or planned</option>
            <option value="na">Not applicable</option>
        </select>
    </div>
    <div id="recommendation3" class="recommendation">
        Recommendation Text.
    </div>
</div>
<button class="accordion">More Information</button>
<div class="panel">
    <h3>Specification &mdash; Subtitle/specific Content</h3>
    <p class="text-padding">
        Info Text:
    <ul class="specification-list-level-one">
        <li></li>
        <li></li>
        <li>
            blabla:
            <ul class="specification-list-level-two">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </li>
    </ul>
    </p>
    <h3>Content</h3>
    <iframe class="embedded-video" src="https://www.youtube.com/embed/CODE"></iframe>
</div>
<hr class="horizontal-separator">-->