<!DOCTYPE html>
<html lang="eng" xml:lang="eng">
<link href="../resources/css/stylesheet.css" rel="stylesheet">
<head>
    <title>Information Security</title>
    <script defer language="javascript" src="../resources/js/javascript.js" type="text/javascript"></script>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<div class="header">
    <div class="navbar" id="navbar">
        <a href="../index.html">Home</a>
        <a href="overview-results.html">Overview / Results</a>
        <div class="dropdown">
            <button class="dropbtn">Assessments
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="overview-assessments.html">Overview Checklists</a>
                <a href="pre-checklist.html">Pre-Checklist</a>
                <a href="controllers-checklist.html">Controllers Checklist</a>
                <a href="processors-checklist.html">Processors Checklist</a>
                <a href="#">Information Security</a>
                <a href="data-sharing.html">Data Sharing and Subject Access</a>
                <a href="record-management.html">Record Management</a>
                <a href="consent-checklist.html">Lawful Basis Checklist</a>
            </div>
        </div>
    </div>
    <h1>Information Security</h1>
    <h3>Assess your compliance with data protection in the specific areas of information
        and cyber security policy and risk, mobile and home working, removable media,
        access controls and malware protection.</h3>
</div>
<div class="content">
    <h2>1 Management and organisational information security</h2>
    <h3>1.1 Risk management</h3>
    <!----------------------------->
    <!-- QUESTION 1              -->
    <!----------------------------->
    <p class="text-padding">Your business has an understanding of cyber security and manages information security
        risks.</p>
    <div class="column">
        <div class="input-row">
            <label for="evaluation1">Choose:</label>
            <select class="form-control" id="evaluation1" name="question" onchange="showRecommendation('1')">
                <option disabled selected value="">Select your option</option>
                <option value="3">Successfully implemented</option>
                <option value="2">Partly implemented</option>
                <option value="1">Planned to implement</option>
                <option value="0">Not yet implemented or planned</option>
                <option value="na">Not applicable</option>
            </select>
        </div>
        <div class="recommendation" id="recommendation1">
            Get familiar with information security and get awareness how cyber crime could affect your business.
        </div>
    </div>
    <button class="accordion">More Information</button>
    <div class="panel">
        <p class="text-padding">
            The following video gives a brief introduction to cyber security:
        </p>
        <br>
        <iframe class="embedded-video" src="https://www.youtube.com/embed/inWWhr5tnEA"></iframe>
    </div>
    <hr class="horizontal-separator">
    <h2>4 Computer and network security</h2>
    <h3>4.6 Risk management</h3>
    <!----------------------------->
    <!-- QUESTION 2              -->
    <!----------------------------->
    <p class="text-padding">Your business defines how strong a password for login has to be and there is a process in
        place to detect any unauthorised access.</p>
    <div class="column">
        <div class="input-row">
            <label for="evaluation2">Choose:</label>
            <select class="form-control" id="evaluation2" name="question" onchange="showRecommendation('2')">
                <option disabled selected value="">Select your option</option>
                <option value="3">Successfully implemented</option>
                <option value="2">Partly implemented</option>
                <option value="1">Planned to implement</option>
                <option value="0">Not yet implemented or planned</option>
                <option value="na">Not applicable</option>
            </select>
        </div>
        <div class="recommendation" id="recommendation2">
            Define a policy how employees and customers have to set their password. Use long passwords with upper-lower
            case letters, numbers and special characters.
        </div>
    </div>
    <button class="accordion">More Information</button>
    <div class="panel">
        <p class="text-padding">
            With today's so-called "brute force" attacks, simple passwords can be guessed quickly. Use long passwords
            with upper-lower case letters, numbers and special characters.
            <br><br>
            The following video can help you choose a password:
        </p>
        <br>
        <iframe class="embedded-video" src="https://www.youtube.com/embed/3f0u-vw58A0"></iframe>
    </div>
    <hr class="horizontal-separator">
    <h3>4.8 Backup and restoration</h3>
    <!----------------------------->
    <!-- QUESTION 3              -->
    <!----------------------------->
    <p class="text-padding">Your business routinely makes backs-up of important business data to help restore
        information in the event of disaster.</p>
    <div class="column">
        <div class="input-row">
            <label for="evaluation3">Choose:</label>
            <select class="form-control" id="evaluation3" name="question" onchange="showRecommendation('3')">
                <option disabled selected value="">Select your option</option>
                <option value="3">Successfully implemented</option>
                <option value="2">Partly implemented</option>
                <option value="1">Planned to implement</option>
                <option value="0">Not yet implemented or planned</option>
                <option value="na">Not applicable</option>
            </select>
        </div>
        <div class="recommendation" id="recommendation3">
            Ensure a software is in place which is doing backups automatically for your critical business data.
        </div>
    </div>
    <button class="accordion">More Information</button>
    <div class="panel">
        <p class="text-padding">
            Regular backups ensure that if the worst comes to the worst, you can always jump back to a backed-up,
            flawless status.
            <br><br>
            The following video gives a brief introduction to the importance of data backups:
        </p>
        <br>
        <iframe class="embedded-video" src="https://www.youtube.com/embed/FIL6L7f32Bs"></iframe>
    </div>
    <hr class="horizontal-separator">
    <h3>4.10 Patch management</h3>
    <!----------------------------->
    <!-- QUESTION 4              -->
    <!----------------------------->
    <p class="text-padding">Your business keeps software up-to-date and applies the latest anti virus software.</p>
    <div class="column">
        <div class="input-row">
            <label for="evaluation4">Choose:</label>
            <select class="form-control" id="evaluation4" name="question" onchange="showRecommendation('4')">
                <option disabled selected value="">Select your option</option>
                <option value="3">Successfully implemented</option>
                <option value="2">Partly implemented</option>
                <option value="1">Planned to implement</option>
                <option value="0">Not yet implemented or planned</option>
                <option value="na">Not applicable</option>
            </select>
        </div>
        <div class="recommendation" id="recommendation4">
            Ensure all of your computers have an anti virus software installed which is up to date and performs scans
            automatically.
        </div>
    </div>
    <button class="accordion">More Information</button>
    <div class="panel">
        <p class="text-padding">
            A fast and reliable anti-virus program on the computer and Mac is recommended. Accordingly, the manufacturer
            should regularly keep the software up-to-date with new updates.
        </p>
    </div>
    <hr class="horizontal-separator">
    <h2>5 Personal data breach management</h2>
    <h3>5.1 Incident management</h3>
    <!----------------------------->
    <!-- QUESTION 5              -->
    <!----------------------------->
    <p class="text-padding">Your business has effective processes to report and manage in case personal data is
        stolen.</p>
    <div class="column">
        <div class="input-row">
            <label for="evaluation5">Choose:</label>
            <select class="form-control" id="evaluation5" name="question" onchange="showRecommendation('5')">
                <option disabled selected value="">Select your option</option>
                <option value="3">Successfully implemented</option>
                <option value="2">Partly implemented</option>
                <option value="1">Planned to implement</option>
                <option value="0">Not yet implemented or planned</option>
                <option value="na">Not applicable</option>
            </select>
        </div>
        <div class="recommendation" id="recommendation5">
            Define a process in the event of data loss.
        </div>
    </div>
    <button class="accordion">More Information</button>
    <div class="panel">
        <p class="text-padding">
            In the event of a data breach it is important a process is defined to which employees can get in contact
            within the company. The process ensures that the breach of security is fixed and that any damage to
            customers is limited. If customer data has been lost, it must be ensured that the customers are informed.
        </p>
    </div>
    <hr class="horizontal-separator">
    <!----------------------------->
    <!-- SCORE BOX               -->
    <!----------------------------->
    <div class="score-box" id="score-box">
        <div class="row">
            <img alt="Result" class="gold-medal" id="gold-medal" src="../resources/images/goldmedal.png">
            <img alt="Result" class="silver-medal" id="silver-medal" src="../resources/images/silvermedal.png">
            <img alt="Result" class="bronze-medal" id="bronze-medal" src="../resources/images/bronzemedal.png">
            <img alt="Result" class="warning-sign" id="warning-sign" src="../resources/images/warning.png">
            <p class="gold-text" id="gold-text">Congratulations, your organisation is meeting the information security
                requirements at a high level. However, please bear in mind that information security, like GDPR
                compliance, is an ongoing and lifelong process that must always be adapted to the changing threat
                situation in cyberspace. We recommend that you first go through the open or unimplemented items on the
                checklist and make any necessary adjustments.</p>
            <p class="silver-text" id="silver-text">Congratulations, your organisation meets the information security
                requirements at a good level. Nevertheless, we recommend that you go through the open or non-implemented
                points of the checklist as soon as possible and implement appropriate measures. Please bear in mind that
                information security, just like compliance with the GDPR, is an ongoing and lifelong process that must
                always be adapted to the changing threat situation in cyberspace.</p>
            <p class="bronze-text" id="bronze-text">Congratulations, your organisation meets the information security
                requirements at a satisfactory level. We strongly recommend that you go through the open or
                unimplemented items on the checklist as soon as possible and implement appropriate measures. Please also
                keep in mind for the future that information security, just like compliance with the GDPR, is an ongoing
                and lifelong process. When implementing, also consider the constantly changing threat situation in
                cyberspace, which makes flexible and dynamic processes and structures more suitable for implementing
                information security.</p>
            <p class="warning-text" id="warning-text">Unfortunately, it seems that the level of information security in
                your organisation is not yet sufficient according to GDPR compliance. We strongly recommend that you go
                through the checklist and implement it in your organisation. Furthermore, it is advisable to integrate
                an information security management system in accordance with ISO/IEC 27001 in your organisation. This
                will ensure the continuous change of information security requirements.</p>
        </div>
    </div>
    <button class="interaction-button" id="submit-button" onclick="countPoints('informationChecklist')">Submit</button>
    <button id="myTopBtn" onclick="topFunction()" title="Go to top">Top</button>
</div>
</body>
</html>
