<!DOCTYPE html>
<html lang="eng" xml:lang="eng">
    <link rel="stylesheet" href="../resources/css/stylesheet.css">
    <head>
        <title>Head Title</title>
        <script language="javascript" type="text/javascript" src="../resources/js/javascript.js" defer></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">

            <div id="navbar" class="navbar">
                <a href="../index.html">Home</a>
                <a href="#news">Overview / Results</a>
                <div class="dropdown">
                    <button class="dropbtn">Assessments
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="controllers-checklist.html">Controllers Checklist</a>
                        <a href="processors-checklist.html">Processors Checklist</a>
                        <a href="information-security.html">Information Security</a>
                        <a href="data-sharing.html">Data Sharing and Subject Access</a>
                        <a href="#">Record Management</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <h1>Record Management</h1>
                    <h2>Record Management Subtitle</h2>
                </div>
                <div class="column">
                    <img src="resources/images/Logo.png" alt="Logo" class="logo">
                </div>
            </div>
            <h3>Index Page Intro Text. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</h3>
        </div>
        <div class="content">
            <!--
            ##########################
                    Section 1
            ##########################
            -->
            <h2>Section 1</h2>
            <p class="text-padding">This is the introduction text to a prototype question. This is another sentence, which
                is followed by some more words. Is this prototype scenario properly implemented in your company?</p>
            <div class="input-row">
                <label for="evaluation1">Choose:</label>
                <select id="evaluation1" class="form-control">
                    <option value="2">Implemented</option>
                    <option value="1">Partly Implemented</option>
                    <option value="0">Not Implemented</option>
                    <option value="na">Not Applicable</option>
                </select>
            </div>
            <button class="accordion">More Information</button>
            <div class="panel">
                <p class="text-padding">Index Page Example Text. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                    est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet.</p>
                <iframe class="embedded-video" src="https://www.youtube.com/embed/n5WJOncaHt4"></iframe>
            </div>
            <hr class="horizontal-separator">
            <p class="text-padding">This is the introduction text to a prototype question. This is another sentence, which
                is followed by some more words. Is this prototype scenario properly implemented in your company?</p>
            <div class="input-row">
                <label for="evaluation2">Choose:</label>
                <select id="evaluation2" class="form-control">
                    <option value="2">Implemented</option>
                    <option value="1">Partly Implemented</option>
                    <option value="0">Not Implemented</option>
                    <option value="na">Not Applicable</option>
                </select>
            </div>
            <button class="accordion">More Information</button>
            <div class="panel">
                <p class="text-padding">Index Page Example Text. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                    est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet.</p>
            </div>
            <hr class="horizontal-separator">
            <p class="text-padding">This is the introduction text to a prototype question. This is another sentence, which
                is followed by some more words. Is this prototype scenario properly implemented in your company?</p>
            <div class="input-row">
                <label for="evaluation3">Choose:</label>
                <select id="evaluation3" class="form-control">
                    <option value="2">Implemented</option>
                    <option value="1">Partly Implemented</option>
                    <option value="0">Not Implemented</option>
                    <option value="na">Not Applicable</option>
                </select>
            </div>
            <button class="accordion">More Information</button>
            <div class="panel">
                <p class="text-padding">Index Page Example Text. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                    est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet.</p>
            </div>
            <hr class="horizontal-separator">
            <!--
            ##########################
                    Section 2
            ##########################
            -->
            <h2>Section 2</h2>
            <p class="text-padding">This is the introduction text to a prototype question. This is another sentence, which
                is followed by some more words. Is this prototype scenario properly implemented in your company?</p>
            <div class="input-row">
                <label for="evaluation4">Choose:</label>
                <select id="evaluation4" class="form-control">
                    <option value="2">Implemented</option>
                    <option value="1">Partly Implemented</option>
                    <option value="0">Not Implemented</option>
                    <option value="na">Not Applicable</option>
                </select>
            </div>
            <button class="accordion">More Information</button>
            <div class="panel">
                <p class="text-padding">Index Page Example Text. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                    est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet.</p>
            </div>
            <hr class="horizontal-separator">
            <p class="text-padding">This is the introduction text to a prototype question. This is another sentence, which
                is followed by some more words. Is this prototype scenario properly implemented in your company?</p>
            <div class="input-row">
                <label for="evaluation5">Choose:</label>
                <select id="evaluation5" class="form-control">
                    <option value="2">Implemented</option>
                    <option value="1">Partly Implemented</option>
                    <option value="0">Not Implemented</option>
                    <option value="na">Not Applicable</option>
                </select>
            </div>
            <button class="accordion">More Information</button>
            <div class="panel">
                <p class="text-padding">Index Page Example Text. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                    est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet.</p>
            </div>
            <hr class="horizontal-separator">
            <p class="text-padding">This is the introduction text to a prototype question. This is another sentence, which
                is followed by some more words. Is this prototype scenario properly implemented in your company?</p>
            <div class="input-row">
                <label for="evaluation6">Choose:</label>
                <select id="evaluation6" class="form-control">
                    <option value="2">Implemented</option>
                    <option value="1">Partly Implemented</option>
                    <option value="0">Not Implemented</option>
                    <option value="na">Not Applicable</option>
                </select>
            </div>
            <button class="accordion">More Information</button>
            <div class="panel">
                <p class="text-padding">Index Page Example Text. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                    est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet.</p>
            </div>
            <hr class="horizontal-separator">
            <div class="input-row">
                <button class="interaction-button" id="submit-button" onclick="countPoints()">Submit</button>
                <input type="text" id="evaluation-sum" class="form-control" placeholder="0">
                <label for="max-score">Max Score: </label>
                <input type="text" id="max-score" class="form-control" placeholder="0">
            </div>
                <a class="interaction-button" href="templates/pageOne.html">Next</a>
        </div>
    </body>
</html>