<!DOCTYPE html>
<html lang="eng" xml:lang="eng">
<link href="../resources/css/stylesheet.css" rel="stylesheet">
<head>
    <title>Record Management</title>
    <script defer language="javascript" src="../resources/js/javascript.js" type="text/javascript"></script>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<div class="header">
    <div class="navbar" id="navbar">
        <a href="../index.html">Home</a>
        <a href="overview-results.html">Overview / Results</a>
        <div class="dropdown">
            <button class="dropbtn">Assessments
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="overview-assessments.html">Overview Checklists</a>
                <a href="pre-checklist.html">Pre-Checklist</a>
                <a href="controllers-checklist.html">Controllers Checklist</a>
                <a href="processors-checklist.html">Processors Checklist</a>
                <a href="information-security.html">Information Security</a>
                <a href="data-sharing.html">Data Sharing and Subject Access</a>
                <a href="#">Record Management</a>
                <a href="consent-checklist.html">Lawful Basis Checklist</a>
            </div>
        </div>
    </div>
    <h1>Record Management</h1>
    <h3>Assess your records management procedures and risks to people’s
      personal information. Includes record creation, storage and disposal,
      access, tracking and off-site storage.</h3>
</div>
<div class="content">
    <!--NEW CONTENT HERE-->
</div>
</body>
</html>
